.carousel{
  background: white;
  height:100vh!important;
}
.carousel .item img{
  margin: 0 auto; /* Align slide image horizontally center */
}
.showoverflow{
  overflow:visible;
}
.widgetcontent{
  text-align: center;
  height:100vh!important;
}
.text-black{
  color:black;
}
.leftwidth{
  width:5%;
}
.rightwidth{
  width:5%;
}
.widgettitle{
  margin-top:0px;
  margin-bottom:1em;
}
.widgetmaintitle{
  margin-top:0px;
  margin-bottom:6px;
}
.widgetsubtitle{

}
.topsection{
  padding-left:5em;
  color:white;
  background-color: #2196F3;
}

.pagetitle{
  margin-top:0px
}

.carousel-control{
    color:black;
}

.glyphicon-chevron-left,
.glyphicon-chevron-right
{
  top:40%!important
}

xmp{
text-align:left;
}

body{
  font-family: monospace;
}
