.mainsvg{
  overflow:visible;
  font-family:'sans-serif';
  font-size:12px;
  text-anchor:middle;
  min-width:700px;
  min-height:400px;
}

body {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.dot {
  stroke: #000;
}
